@model IEnumerable<BTLNHOM10.Models.DiemThamQuan>
@using BTLNHOM10.Models
@*@using X.PagedList.Mvc.Core*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhsachDD";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh Sách Các Điểm Thăm Quan</h1>

<p>
    <a asp-action="ThemMotDDMoi">Thêm Mới</a>
</p>
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Tên Địa Điểm
            </th>
            <th>
               Miền
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>*@
            
            <th></th>
        </tr>
    </thead>
    <tbody>
   @{
            int i = 0;
            string @cls = "table-success";
        }
@foreach (var item in Model) {
            i = i + 1;
            if (i % 2 == 0)
            {
                cls="table-primary";
            }
            <tr class="@cls">
          
            @*<td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TenDiaDiem)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Mien)
            </td>
            <td>
                <a asp-action="ChinhSuaDD" asp-route-madd="@item.MaDd">Sửa</a> |
                <a asp-action="ChitietDD" asp-route-madd="@item.MaDd">Chi Tiết</a> |
                <a asp-action="XoaDD" asp-route-madd="@item.MaDd">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
