@model IEnumerable<BTLNHOM10.Models.Booking>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhsachBooking";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Booking</h1>
@*<p style="color:red; font-weight:bold;font-style:italic>@TempData["Message"]</p>*@
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Ngày Đi
            </th>
            <th>
                Số chỗ booking
            </th>
            <th>
                Ngày Đặt
            </th>
            <th>
               Mã KH
            </th>
            <th>
                Mã Nhân Viên Đặt
            </th>
            <th>
                Mã Tour
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.NgayDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoChoBooking)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTour)
            </td>
            <td>
                <a asp-action="chinhsuabooking" asp-route-mabk="@item.MaBk">Sửa</a> |
                <a asp-action="ChitietBooking" asp-route-mabk="@item.MaBk">Chi tiết</a> |
                <a asp-action="xoabooking" asp-route-mabk="@item.MaBk">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
