@model IEnumerable<BTLNHOM10.Models.Tour>
@using BTLNHOM10.Models
@using X.PagedList.Mvc.Core
@*@model X.PagedList.IPagedList<Tour>*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucTour";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Danh Sách Tour Du Lịch</h1>
<a asp-action="ThemMotTourMoi">Thêm Mới</a>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr class ="table-warning">
            <th >
                Tên Tour
            </th>
            <th>
               Giá Chỗ
            </th>
            <th>
               Ảnh Tour
            </th>
            <th>
               Điểm Xuất Phát
            </th>
            <th>
                Xếp Hạng Tour
            </th>
            <th>
                Số Ngày Đi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
            @foreach (var item in Model) {
            i = i + 1;
            if (i % 2 == 0)
            {
                cls="table-primary";
            }
            <tr class="@cls">
            <td>
                    <a style="font-weight:bold; text-align:center; color:black; text-decoration:none" asp-controller="home" asp-action="chitiettour" asp-route-matour="@item.MaTour" > @Html.DisplayFor(modelItem => item.TenTour)</a>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaCho)
            </td>
            <td>
                <img src="@Url.Content("../../img/anhdaidien/"+item.Anh)" class="image">
               @* @Html.DisplayFor(modelItem => item.Anh)*@
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.DiemXuatPhat)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.XepHangTour)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.SoNgayDl)
            </td>
            <td>
                <a asp-action="ChinhSua" asp-route-mt="@item.MaTour">Chỉnh Sửa</a> |
                <a asp-action="XoaTour" asp-route-matour="@item.MaTour">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
@*@Html.PagedListPager(Model,page=>Url.Action("DanhSachTour",new{page=page}),new X.PagedList.Web.Common.PagedListRenderOptionsBase(){
    LiElementClasses= new List<String>{"page-item"},
    PageClasses= new List<String>{"page-link"}
})*@