@model BTLNHOM10.Models.DiadiemTour

@{
    ViewData["Title"] = "themdiadiemtour";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    BTLNHOM10.Models.QlTourdlN5Context db = new BTLNHOM10.Models.QlTourdlN5Context();
}

<h1>Thêm địa điểm cho Tour_Điểm thăm quan</h1>
<p>
    @TempData["Message"] </p>
<div class="row">
    <div class="col-md-4">
        <form asp-action="themdiadiemtour">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDd" class="control-label">Mã Địa Điểm</label>
                @{
                    
                    var madd = db.DiemThamQuans.ToList();
                }
                <select asp-for="MaDd" class ="form-control">
                   @foreach(var item in madd)
                    {
                        <option value="@item.MaDd">@item.TenDiaDiem</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label asp-for="MaTour" class="control-label">Mã Tour</label>
                 @{
                    var matour = db.Tours.ToList();
                }
                <select asp-for="MaTour" class ="form-control">
                     @foreach(var item in matour)
                    {
                        <option value="@item.MaTour">@item.TenTour</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TenFileAnh" class="control-label">Tên File Ảnh Điểm Thăm Quan</label>
                <input type="file" asp-for="TenFileAnh" class="form-control" />
                <span asp-validation-for="TenFileAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViTri" class="control-label">Vị Trí </label>
                <input asp-for="ViTri" class="form-control" />
                <span asp-validation-for="ViTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>